
  <div class="container-fluid vh-100 loginpage">
  <mat-card>
    <mat-card-content>
      <div class="row">
          <div class="container text-center">
              <img class="circular--square"    src="../../../assets/logo.png" alt="logo">
          </div>
        <div class="col-md-12">
          <h2 class="text-center mb-4">Login !!</h2>
        </div>
      </div>
      <form (ngSubmit)="formSubmit()">
          <div class="text-center">
            <mat-form-field  class="custom-input" appearance="outline">
              <mat-label>UserName</mat-label>
              <input  
               name="userName"
               required 
               [(ngModel)]="loginData.userName" 
               matInput placeholder="Enter Username">
              <mat-hint style="color: red;">This Field is required</mat-hint>
          </mat-form-field>
         </div>
         <div class="text-center">
          <mat-form-field  class="custom-input" appearance="outline">
              <mat-label>Password</mat-label>
              <input 
              type="password" 
              name="password" 
              required 
              [(ngModel)]="loginData.password"    
              matInput placeholder="Enter Password">
              <mat-hint style="color: red;">This Field is required</mat-hint>
          </mat-form-field>
         </div>
         <div class="text-center">
          <button [disabled]="" type="submit" mat-raised-button style="background: #0ab8b2;"  >Login</button>
        </div>
      </form>
       
  </mat-card-content>
  </mat-card>
</div>