<mat-card>
    <h2 class="text-center">Your Profile Details</h2>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/Default_pfp.svg" alt=""
                        class="profile-image-default">
                    <h1 class="mt-2" *ngIf="user.firstName !=null">{{user.firstName}} {{user.lastName}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>UserName</td>
                                    <td>{{user.username}}</td>
                                </tr>
                                <tr>
                                    <td>UserId</td>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td>Role</td>
                                    <td>{{user.authorities[0].authority}}</td>
                                </tr>
                                <tr *ngIf="user.phoneNo">
                                    <td>Phone</td>
                                    <td>{{user.phoneNo}}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    <td>Active</td>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center" >
        <button mat-raised-button color="primary">UPDATE</button>
    </mat-card-actions>
</mat-card>
